body {
    padding:20px;
}

div.start {
    margin-top:30px;
    width:100%;
    text-align:center;
    button {

    }
}

table.alltasks {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px ;
    width:auto;
    td {
        padding:5px;
    }
    ul {
        list-style-type:none;
        list-style:none;
        margin:0px;
        padding:0px;
    }
    li {
        list-style-type:none;
        list-style:none;   
    }
    th.num, td.num{ width:20px;}
    td.histogram {
        min-width:400px;
    }
    td.cloud {
        width:400px;
    }
    td.topicBox {
        width:400px;
        div{ 
            height: 250px;
            width: 400px;
            border: 1px solid #ddd;
            background-repeat: no-repeat;
            background-position-y: -25px;
            background-size: 124%;
            background-color: red;
            background-position-x: -67px;
        }
    }
    

}


ul.likert {
    width:100%;
    padding:10px 0 10px 20px;
    margin:0;
    li {
        font-family:Arial, Helvetica, sans-serif;
        font-weight:600;
        font-size:12px;
        float:left;
        list-style-type:none;
        width:50px;
        margin:0 10px 0 10px;
        text-align:center;
    }
}

div.topic_representation {
    .instruction {
        border-bottom:1px solid #ddd;
    }
    ul.topic_list {
        list-style-type:none;
        list-style:none;
        padding:0px;
    }    
}


table, th, td {
    border:1px solid #ccc;
    width:1500px;
}


div.topic_rep {
    width:400px;
    height:250px;
    overflow:hidden;
    float:left;
    border:1px solid #aaa;
    margin:0px 20px 20px 0px;
    padding:10px 0 10px 20px;
    font-family:Arial, Helvetica, sans-serif;
    ul {
        padding:10px;
    }
}

.hidden{
    display:none;
}

.wordlist {
    position:relative;
    ul {
        list-style-type:none;
        list-style:none;
        padding:10px;
    }
    ul.doubleColumn_1 {
        position:absolute;
        top:5px; left:10px;
    }
    ul.doubleColumn_2 {
        position:absolute;
        top:5px; left:50%;
    }
    ul.singleColumn {
        position:absolute;
        top:5px; left:25%;   
    }
    li {
        clear:both;
        line-height:24px;
        .wordIdx { 
            float:left;
            color:#aaa;
            font-family:Arial, Helvetica, sans-serif;
            font-weight:800;
            font-size:11px;
            width:15px;
            text-align:right;
            margin-right:4px;
        }
        .wordTerm {
            float:left;
            font-size:15px;
            width:70px;
        }
    }
}
.histogram {
    position:relative;
    ul {
        list-style-type:none;
        list-style:none;
        padding:10px;
    }
    ul.doubleColumn_1 {
        position:absolute;
        top:5px; left:10px;
    }
    ul.doubleColumn_2 {
        position:absolute;
        top:5px; left:55%;
    }
    ul.singleColumn {
        position:absolute;
        top:5px; left:25%;   
    }
    li {
        clear:both;
        line-height:24px;
        .wordIdx { 
            float:left;
            color:#aaa;
            font-family:Arial, Helvetica, sans-serif;
            font-weight:800;
            font-size:11px;
            width:15px;
            text-align:right;
            margin-right:4px;
        }
        .wordTerm {
            float:left;
            font-size:15px;
            width:80px;
        }
        .wordHisto {
            float:left;
            background: rgba(0,0,0,0.3);
            height:8px;
            margin-top:9px;
            margin-left:5px;
        }
    }
}

.topicBox {
    width:400px;
    div{ 
        height: 250px;
        width: 400px;
        border: 1px solid #ddd;
        background-repeat: no-repeat;
        background-position-y: -25px;
        background-size: 124%;
        background-position-x: -67px;
    }
}

tr.linebreaker{
    background:black;
}

div.answer {
    width:450px;
    float:left;
}
span.shortAnswer {
    font-size:13px;
    font-weight:700;
    font-family: helvetica;
}
span.longAnswer {
    font-size:12px;
    font-weight:300;
    font-family: serif;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-top:5px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button {
    font-size: 16px;
    padding:6px 12px;
    background-color:#fff;
    border-radius:3px;
    border:1px solid #aaa;
    color:#444;
}

label.questionIndex {
    color:#666;
    font-family: helvetica;
    font-size:12px;
    font-weight:600;
}

div.introduction {
    margin:0;
    line-height: 1.5em;
    padding:10px;
    font-size:16px;
}

div.instruction {
    margin:0;
    line-height: 1.5em;
    padding:10px;
    font-size:16px;
}

div.endMessage{
    padding:20px;
    margin:20px;
    width:500px;
    background:#eee;
    border:1px soild red;
    border-radius:10px;
    font-size:18px;
}

div.errorMessage {
    width:100%;
    text-align:center;
    color:red;
}

table.reportTable {
    ul.wordList {
        margin:0;
        padding:0;
        li {
            font-family:arial;
            display:inline-block;
            list-style-type:none;
            list-style:none;
            margin:1px;
            background:#ddd;
            border-radius:3px;
            font-size:13px;
        }



    }
}



